SENTINEL_PORT=8030
SENTINEL_LOG_LEVEL=DEBUG
SENTINEL_CORS_ALLOW_ORIGINS=["http://localhost:5173","http://localhost:3000"]

SENTINEL_MONGO_URI=mongodb+srv://sandeepk:sandeep@cluster0.tnbpi.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
SENTINEL_MONGO_DB=sentinel